<div class="container">
  <h1>Rentals</h1>

  <h2>I'm Renting:</h2>

  <div class="card-booking">
    <% @bookings.each do |booking| %>
      <%= booking.product.name %>
      <%= booking.start_date %> - <%= booking.end_date %>
    <% end %>
  </div>

  <h2>My Rentals:</h2>

  <div class="card-booking">
    <% @products_bookings.each do |booking| %>
      <%= booking.product.name %>
      <%= booking.start_date %> - <%= booking.end_date %>
    <% end %>
  </div>
</div>
