<div class="container">

  <h2>results for:</h2>

  <div class="cards mt-4">
    <% @products.each do |product| %>
      <%= link_to product_path(product.id) do %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt=<%= product.name %>>
          <div class="card-product-infos">
            <div>
              <h2><%= product.name %></h2>
              <p><%= product.description.truncate(40) %></p>
              <p><%= product.location %></p>
            </div>
            <h3><%= product.price %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
