<div class="container">

  <h3 class="m-5 mb-2 text-center fw-bolder">Results For:</h2>
  <h4 class="text-center">"..."</h4>

  <div class="cards mt-4">
    <% @products.each do |product| %>
      <%= link_to product_path(product.id) do %>
        <div class="card-product">
          <%= image_tag "weights.webp", class: "main-img" %>
          <div class="card-product-infos">
            <div>
              <h2><%= product.name %></h2>
              <p><%= product.description.truncate(40) %></p>
              <p><%= product.location %></p>
            </div>
            <div>
              <h3>£<%= product.price %></h3>
              <%# <div class="justify-content-end">
                 <i class="fa-solid fa-heart mt-3"></i>
              </div> %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>


<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>
</div>
